*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.swp
*.synctex.gz
*.tdo
*.toc
*.vrb
*.xdy
*~
_build/
*.byte
*.native
*.ll
llvmutop
*.o
*.bc
*.s
final
.vscode
*.ast.ml
*.tast.ml
*.xftast.ml
*.core.ml
*.z3
test/test_*.h
test/testbin*
*.runner.c
*_runner.c
test/testbin_sem
!ct-verif/sort.ll
!ct-verif/sort-3.9.ll
setup.data
setup.ml
configure
*.pseudo.fact
